<!DOCTYPE html>
<html ng-app>
		<head>
				<meta charset="utf-8">
				<title>Time Reader</title>
		
		<meta name="description" content="Time Reader est une liseuse sur mobile, qui propose des contenus personnalisés et adaptés à vos temps de trajets.">
		<link rel="apple-touch-icon" href="[[url_for('static', filename='img/apple.png')]]" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />  
		<meta property="og:title" content="Time Reader">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.timereader.fr">
		<meta property="og:image" content="">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Style  (see assets.yaml) -->
		[% assets "css_all" %]
			<link rel="stylesheet" href="[[ ASSET_URL ]]" type="text/css" />
		[% endassets %]
		
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='[[ url_for('static', filename='fonts/stylesheet.css') ]]' rel='stylesheet' type='text/css'>
		
		</head>

	<body>

		<div class="bg-primary">
			<div>
				<img src="[[url_for('static', filename='img/logo.png')]]" class="logo" alt="logo" />
			</div>
		</div>
		<div class="bg-secondary">
			<div class="container" ng-controller="ConfigCtrl as config">
				<div class="">
					<h2>How much time do you got ?</h2>
					<span class="glyphicon glyphicon-time"></span> <span>{{ config.time }} min</span>
					<input type="text" ng-model="config.time" data-slider="true" data-slider-theme="volume" data-slider-range="5,30" data-slider-step="1">
					<button type="button" class="btn btn-primary btn-lg read" openReader>Get me something nice to read</button>
				</div>

			</div><!-- /.container -->
		</div>
		<div class="bg-secondary hidden">
			<div class="container" ng-controller="ConfigCtrl as config">
				<div class="">
					<div class="article">
						<div class="title">Title</div>
						<div class="body">body body body body body body body body body body</div>
					</div>
				</div>

			</div><!-- /.container -->
		</div>

		<footer>
				<div class="links">
						<div class="container">
								<ul class="list-inline">
										<li><a ng-href="/about" href="/page/about">About</a></li>
										<li><a href="mailto:"> Contact</a></li>
										<li class="last"><a href="https://github.com/vied12/timereader" target="_blank">Github</a></li>
										<li class="last hidden"><a>Facebook</a></li>
								</ul>
						</div>
				</div>
				<div class="legals">
						<div class="container">
								Software under GNU GPLv3
						</div>
				</div>
		</footer>

		[% assets "js_all" %]
			<script src="[[ ASSET_URL ]]"></script>
		[% endassets %]
	</body>
</html>
