<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Time Reader</title>
		
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="Time Reader est une liseuse sur mobile, qui propose des contenus personnalisés et adaptés à vos temps de trajets.">

		<meta name="og:description" content="Time Reader est une liseuse sur mobile, qui propose des contenus personnalisés et adaptés à vos temps de trajets.">
		<meta property="og:title" content="Time Reader">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.timereader.fr">
		<meta property="og:image" content="">
		
        <!-- Bootstrap -->
		<link href="%%url_for('static', filename='css/bootstrap.min.css')%%" rel="stylesheet" media="screen">
        <link href="%%url_for('static', filename='css/style.css')%%" rel="stylesheet">
		
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href="%%url_for('static', filename='css/fonts/stylesheet.css')%%" rel="stylesheet">
		
    </head>
    <body>
        <div id="container">
		
            <!-- home tmp -->
            <div id="homeTmp" class="page">
				<div class="cont">
					<img src="%%url_for('static', filename='img/LogoROUGETimereaderFond.png')%%" class="logo" alt="logo" />
                
					<div class="txt">
						<p>Time Reader est un prototype de web app qui a remporté <a href="http://www.amiando.com/PVVHBPK.html">#OpenDataLab</a>, un hackathon organisé avec la RAPT en mai 2013. </p>
		
						<p>Time Reader est une liseuse sur mobile, qui propose des contenus personnalisés et adaptés à vos temps de trajets. </p>

						<p>Pourquoi utiliser Time Reader ? Time Reader calcule précisément la durée de votre trajets pour vous proposez des contenus qui correspondent votre temps de parcours. </p>

						<p>Profitez de vos déplacement en bus et en métro pour lire confortablement :</p>

						<ul>
						   <li>Vos bookmarks et podcasts sauvegardés dans Evernote, Pocket, Readability, Delicious ou Soundcloud</li>
						   <li>Des suggestions personnalisés d'articles et de podcasts, en fonction de vos centres d'intérêts (Culture, actualité, économie, sport, nouvelles technos, culture général... ).</li>
						   <li>Les articles partagés par les usagers de vos lignes de transport. </li>
						</ul>

						<p>Dans le métro ou dans le bus, vous accédez d'un simple geste toutes les informations relatives à votre trajet (localisation, nombre de stations parcourues, temps de parcours, changements de lignes etc.).</p>
										
						<p><strong>Merci d'accéder à Timereader.fr sur un mobile ou de redimensionner votre fenêtre pour accéder au prototype.</strong></p>		
					</div>
				</div>
                    
            </div>
            <!-- /home -->				
		
            <!-- home -->
            <div id="home" class="page">			
				<div id="intro">
					<h1><img src="%%url_for('static', filename='img/logo.png')%%" alt="logo" /></h1>
                	<div>Des contenus personnalisés et adaptés à votre temps de trajet.</div>
                </div>				
                <a href="#" class="startBtn" onclick="goToPage('main');">Get started</a>
            </div>
            <!-- /home -->
                
            <!-- settings -->
            <div id="settings" class="page">
                <div id="netSettings">
					<header>
						<a class="configBtn" href="#" onclick="goToPage('main')" data-bghover="%%url_for('static', filename='img/settings_grey.png')%%">
							Gérer mon contenu et mes comptes
						</a>
					</header>
                    <h2>Synchronisez Time Reader avec vos applications</h2>
                    <ul>
                        <li>
							<a class="readability" href="#">Readability</a>
							<div id="subReadability" class="sub">
								<input type="text" id="readabUser" placeholder="Votre nom d'utilisateur..." />
								<br />
								<input type="password" id="readabPass" placeholder="Votre mot de passe..." />
								<br />
								<input type="button" id="readabButton" value="Ok" onclick="connectToReadability();" />
								<br />
								*Ils ne seront jamais stockés sur nos serveurs
							</div>
						</li>					
                        <li>
							<a class="evernote" href="#">Evernote</a>
							<div id="subEvernote" class="sub">Disponible bientôt...</div>
						</li>
                        <li>
							<a class="soundcloud" href="#">Soundcloud</a>
							<div id="subSoundcloud" class="sub">Disponible bientôt...</div>
						</li>
                    </ul>
                </div>
                <div id="intSettings">
                    <h2>Indiquez vos centres d'intéret</h2>
                    <ul>                       
                    </ul>
                </div>
				<a href="#" class="saveBtn" onclick="saveSettings();">Sauvegarder</a>
            </div>
            <!-- /settings -->
                
            <!-- main search -->
            <div id="main" class="page">
                <header>
                    <a class="configBtn" href="#" onclick="goToPage('settings')" data-bghover="%%url_for('static', filename='img/settings_red.png')%%">
						Gérer mon contenu et mes comptes
                    </a>
                </header>
				<section>					
					<h2>Entrez un trajet</h2>
					<img class="logoForm" src="%%url_for('static', filename='img/logo_stations.png')%%" alt="stations"/>
					<div class="form">											
						<label>Départ</label>
						<input type="text" id="start" placeholder="Station de départ..." autocomplete="off" onfocus="selectedInput = 1;">					
						<label>Arrivée</label>
						<input type="text" id="end" placeholder="Station d'arrivée..." autocomplete="off" onfocus="selectedInput = 2;">
						<label class="long">Heure de départ</label>
						<input class="short" id="hour" placeholder="" autocomplete="off" type="number" name="hour" min="0" max="24">
						<input class="short" id="minute" placeholder="" autocomplete="off" type="number" name="minute" min="0" max="59" >
						<img src="%%url_for('static', filename='img/trajet_cal.png')%%" alt="cal" style="height: 30px; vertical-align: top;"/>
						<input type="hidden" id="startcoord" value="">
						<input type="hidden" id="endcoord" value="">
						<div id="searchAlert" class="hidden">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Attention!</strong> Merci de bien spécifier les stations.
						</div> 						
					</div>									
					
					<div class="separator">&nbsp;</div>
					
					<div class="sliderContainer">
						<input type="text" class="span2" value="5" id="timeSlider">
					</div>
					<div class="gradSlider">
						<ul>
							<li>1min</li>
							<li id="selected">1min</li>
							<li>120min</li>
						</ul>
					</div>
				</section>
				
				<div class="mainBot">
					<a href="#" onclick="startSearch();">
						OK
					</a>
				</div>				
            </div>
            <!-- /main -->
                
            <!-- search result -->
            <div id="results" class="page">
                <div id="detailsResults"></div>
                <ul id="listResults"></ul>
            </div>
            <!-- /search result -->
                
            <!-- reader -->
            <div id="reader" class="page">
				<header>
					<div class="size">
						<a href="#">-</a>
						<span>A</span>
						<span class="big">A</span>
						<a href="#">+</a>
					</div>
					<div class="montrajet">
						<img height="10" src="%%url_for('static', filename='img/red_arrow.png')%%" alt="arrow" />
						<a href="#" onclick="goToPage('results');">Mon trajet</a>
						<svg id="svgstart" xmlns="http://www.w3.org/2000/svg" version="1.1">
							<circle id="circle-start" cx="10" cy="10" r="6" stroke-width="6" stroke="#4D4D4D" fill="#E6E6E6" />
						</svg>
					</div>
					<div class="spacer"></div>
				</header>
                <div id="content"></div>
                <div id="visu">
                    <ul></ul>
                </div>
                <div id="ligne">&nbsp;</div>
				<div id="avancement">&nbsp;</div>
            </div>
            <!-- /reader -->               

        </div>

        <!-- templates -->
        <script id="template-results" type="text/x-handlebars-template">
            {{#each results}}
            <li data-id="{{@index}}" data-type="text">
                <img src="%%url_for('static', filename='img/themes/')%%picto-{{thematic}}.png" />
                <h3>{{title}}</h3>
                <span>{{source}} {{thematic}}</span> 
                <div class="spacer"></div>
            </li>
            {{/each}}
        </script>
        
        <script id="template-res-audio" type="text/x-handlebars-template">
            <li data-id="5" data-type="audio">
                <img src="%%url_for('static', filename='img/themes/picto-son.png')%%" />
                <h3>Chronique de Chris Esquerre</h3>
                <span>Radio France</span> 
                <div class="spacer"></div>
            </li>
        </script>        
        
        <script id="template-detailsresults" type="text/x-handlebars-template">
			<h2>Mon trajet</h2>
			<ul>
				<li>Départ {{origin}}</li>
				<li>Arrivée {{destination}}</li>
				<li>Lignes</li>
			</ul>
            
			<div class="botDetailsRes">
				Selectionnez un article
				<div>{{duree}}<br /><span>min</span></div>				
			</div>
        </script>
        
        <script id="template-cerclestation" type="text/x-handlebars-template">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <circle id="circle-{{id}}" cx="10" cy="10" r="10" fill="#{{couleur}}" />
                </svg>
            </li>
        </script>

        <script id="template-article" type="text/x-handlebars-template">
            <h1>{{title}}</h1>
			<div class="metaArticle">
				<div class="text">
					Le Monde{{source}}
					<br />
					12 juin 2013{{date}}
				</div>
				<div class="time">
					30{{duree}}<br /><span>min</span>
				</div>				
			</div>
            <div id="contentArticle">
                {{{content}}}
            </div>
			<div class="endArticle">
			</div>
        </script>

        <script id="template-audio" type="text/x-handlebars-template">
            <h1>{{title}}</h1>
            <div id="contentArticle">
                {{{content}}}								
            </div>
			<div class="contentAudio">
				<audio src="{{file}}" preload="auto" controls></audio>
			</div>
			<div class="endArticle">
				<a class="btn btn-primary btn-large">
					<i class="icon-plus-sign icon-white"></i>&nbsp;Plus de contenu
				</a>
				<a class="btn btn-primary btn-large">
					<i class="icon-share icon-white"></i>&nbsp;Partager sur ma ligne
				</a>
			</div>
        </script>
		
		<script id="template-theme-checkbox" type="text/x-handlebars-template">
			{{#each results}}
				<li><input type="checkbox" id="theme-{{slug}}" name="{{slug}}" value="{{slug}}" {{#if checked}}checked{{/if}}><label for="theme-{{slug}}">{{name}}</label></li>
			{{/each}}
		</script>
        
        <!-- /templates -->

        <!-- scripts -->
        <script src="%%url_for('static', filename='js/vendor/jquery-1.10.1.min.js')%%"></script>
        <script src="%%url_for('static', filename='js/vendor/bootstrap.min.js')%%"></script>
        <script src="%%url_for('static', filename='js/vendor/simple-slider.min.js')%%"></script>
        <script src="%%url_for('static', filename='js/vendor/handlebars.js')%%"></script>
        <script src="%%url_for('static', filename='js/vendor/underscore-min.js')%%"></script>
		<script src="%%url_for('static', filename='js/vendor/modernizr.js')%%"></script>
        <script src="%%url_for('static', filename='js/main.js')%%"></script>
		<script src="%%url_for('static', filename='js/vendor/audioplayer.min.js')%%"></script>
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-41251703-1', 'timereader.fr');
		  ga('send', 'pageview');

		</script>
		
		<!-- /scripts -->
    </body>
</html>
